body {
  padding: 0;
  margin: 0;
  background: #1f2227;
}

.content {
  width: 90%;
  margin: 0 auto;
}

canvas {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
  /*   pointer-events: none; */
  color: #ffffff;
  /*   mix-blend-mode: difference; */
}

a:hover {
  font-weight: bold;
}

.title {
  color: #ffffff;
  mix-blend-mode: difference;
}

.des {
  color: #9a9c9e;
  mix-blend-mode: difference;
  margin-bottom: 1rem;
}

.p5Canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.content {
  margin-bottom: 3rem;
}

.content .top .title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.content .top {
  margin: 3rem 0;
}

.content .top .des {
  margin-bottom: 1rem;
}

.content .title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0rem;
}

.content  .device {
  /* margin-bottom: 1rem; */
  color: rgb(69, 243, 130);
  /* color:  #9a9c9e; */
}

.content .title-img {
  display: inline-block;
  width: 25%;
  margin-top: 1rem;
}

.content .page {
  margin-top: 1rem;
}

#prompt {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: bisque;
  color: rgb(171, 113, 43);
  padding: 0.4rem 0;
  display: none;
  font-size:  0.9rem;
  user-select: none;
}

@media screen and (max-width: 414px) {
  .container {
    width: 97%;
  }

  .content .top .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.1rem;
  }

  .content {
    margin-bottom: 3rem;
  }

  .content .top {
    margin: 3rem 0 5rem 0;
  }

  .content .title {
    font-size: 1.5rem;
    font-weight: 600;
    /*     margin-bottom: 0.6rem; */
  }

  .content .title-img {
    width: 49%;
    margin-top: 1rem;
  }

}